{% extends 'base_bt2.html' %}
{% load custom_tags %}
{% block content %}
    <h1>Author</h1>

    <div class="row mt-4">
        <div class="col">
            <table class="table table-striped" cellspacing="5" cellpadding="5" border="1">
                <thead class="thead-dark">
                <tr>
                    <th>Abbrev</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                </tr>
                {% for i in authors %}
                    <tr valign="top">
                        <td><a href={{links|list_index:forloop.counter0 }}> {{ i.abbrev }} </a></td>
                        <td>{{ i.firstName }}</td>
                        <td>{{ i.lastName }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div>
        <form action="add/">
            <input type="submit" value="Thêm tác giả"/>
        </form>
    </div>

{% endblock %}