{% extends 'base_bt2.html' %}
{% block content %}
    <h1>Electronic</h1>

    <div class="row mt-4">
        <div class="col">
            <table class="table table-striped" cellspacing="5" cellpadding="5" border="1">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Wattage</th>
                    <th>Size</th>
                    <th>Brand</th>
                </tr>
                </thead>
                </tr>
            {% load custom_tags %}
                {% for i in list %}
                    <tr valign="top">
                        <td><a href={{ links|list_index:forloop.counter0}}>{{ i.name }}</a></td>
                        <td>{{ i.type }}</td>
                        <td>{{ i.wattage }}</td>
                        <td>{{ i.size.width}} x {{i.size.height}} x {{i.size.deep}}, {{i.size.weight }}</td>
                        <td>{{ i.brand.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div>
        <form action="add/">
            <input type="submit" value="Thêm"/>
        </form>
    </div>

{% endblock %}