<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adf</title>
</head>
<body>
    <h1>Jinja</h1>

<div>
{% if ASsadD is upper %}
    Yes, the variable is uppercase!
{% endif %}
{% if 6 is divisibleby 3 %}
    <p>chia het</p>
{% endif %}
{# asd
ad
as
da
d
asd#}
</div>
</body>
</html>