{% extends 'base_old.html' %}
{% block title %}Jinja demo{% endblock %}
{#1 reusable template#}
{% block body %}
    <h1>Jinja</h1>
    <p>adfafddsf</p>
    {#1 reusable template#}
    {% block breadcrumb %}Main{% endblock %}

<h1>Macro----------------------------------------------------------------</h1>
    {#3. macro #}
    {% import 'base_old.html' as base %}
    {{ base.coffeestore('Downtown',1,'Horton Plaza','San Diego','CA','downtown@coffeehouse.com') }}

<h1>Macro call----------------------------------------------------------------</h1>
{#4. call macro#}
{#macro with call#}
    {# macro definition#}
    {% macro contentlist(adcolumn_width=3,contentcolumn_width=6, number = 0) -%}
        <div class="col-md-{{ adcolumn_width }}">
            Sidebar ads
        </div>
        <div class="col-md-{{ contentcolumn_width }}">
            {{ caller() }}
            <p>Number: {{ number }}</p>
        </div>
        <div class="col-md-{{ adcolumn_width }}">
            Sidebar ads
        </div>
    {%- endmacro %}
    {#    # macro call/invocation#}
    {% call contentlist(0,0, 10) %}
        <ul>
            <li>This is my list and number</li>
        </ul>
    {% endcall %}
{% endblock body %}
