<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Default title{% endblock title %}</title>
    <meta name="description" content="{% block metadescription%} {% endblock metadescription %}">
    <meta name="keywords" content="{% block metakeywords%} {% endblock metakeywords %}">
</head>
<body>
    {% block body %}
       <p>{% block breadcrumb %}Home{% endblock %}</p>
    {% endblock body %}

</body>

{#3. marcro #}
{% macro coffeestore(name, id='', address='', city='San Diego', state='CA', email=None) -%}
    <a id="{{id}}"></a>
    <h4>{{name}}</h4>
    <p>{{address}} {{city}},{{state}}</p>
    {% if email %}<p><a href='mailto:{{email}}'>{{email}}</a></p>{% endif %}
{%- endmacro %}


</html>